# Workspace metadata files
.info

# AI-Agent configuration and assets
.opencode
.claude
.codex

# Configuration files of development environment
## Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

## direnv
.direnv

## pre-commit
.pre-commit-config.yaml
